<!doctype html>
{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!-- {% load socialaccount %}
{% load static %} -->

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
{% block navbar %}
<ul class="navbar-nav mr-auto justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}"><strong>Home</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'explore' %}"><strong>Explore</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><strong>Post</strong></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link active" href="{% url 'account' %}"><strong>Account</strong></a>
  </li>
</ul>
{% endblock navbar %}
{% block content %}

<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'account/style.css' %}">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3">
      <br>
      {% if privileged == False or privileged == None and user.is_authenticated %}
      {% if user.name != None and user.name != "" %}
      <h4>{{ user.name }}</h4>
      {% else %}
      <h4>Welcome!</h4>
      {% endif %}
      <br>
      <div class="pfpic"><img src="{{ user.pfp }}"></div>
      {% endif %}
      <br>
      <form action="{% url 'editAccount' %}">
        <input class="btn" type="submit" value="Edit Account" />
    </form>
    </div>
    <div class="col-sm-7" id="user-box" style="border-color: rgb({{ user.get_level_color }})">
      <br>
      <h4>Bio</h4>
      <p>
        {{ user.bio }}
      </p>
      <br><br>
      <h4>Info</h4>
      <p> 
        Email: {{user.email }} 
        <br>
        Date Joined: {{user.date_joined}}
        <br>
        Total Donated: {{user.total_donated}}
        <br>
        <p id="level" style="font-size: 18;color: rgb({{ user.get_level_color }})"> Level: {{user.get_level}}</p>
      </p>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

<body>
  <div id="user_info">

</body>
{% endblock content %}
