<!doctype html>
{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!-- {% load socialaccount %}
{% load static %} -->

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
{% block navbar %}
<ul class="navbar-nav mr-auto justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Explore</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Post</a>
  </li>
  <li class="nav-item active">
      <a class="nav-link active" href="{% url 'account' %}">Account</a>
    </li>
</ul>
{% endblock navbar %}
{% block content %}  

<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'tinyfunds/style.css' %}">

<body>
    {% if user.is_authenticated %}

    <div id="user_info">
        <h4>Welcome, {{ user.username }}!</h4>
        <br><br>
        Your email: {{ user.email}}
        <br>
        You are person #{{ user.id }} to register!
    </div>
    <form action="{% url 'account_logout' %}" method="get">
        <button id="logout_button" class="btn-danger" action="submit">Logout</button>
    </form>

    {% else %}
    <a class="page-scroll btn btn-xl" id="oauth-button" href="{% provider_login_url 'google' %}"></a>
    {% endif %}
</body>
{% endblock content %} 