<!doctype html>

{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!-- {% load socialaccount %} -->
{% load static %} -->

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<link rel="stylesheet" href="{% static 'tinyfunds/style.css' %}">
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">


<nav class="navbar navbar-expand-lg transparent navbar-inverse">
    <div class="d-flex w-50 order-0">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse justify-content-center order-2" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                    <font size="+5">Explore</font>
                </a>
            </li>
            <li class="navbar-text">
                <strong>
                    <font size="+5">Tiny Funds</font>
                </strong>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account' %}">
                    <font size="+5">
                        <font color=rgba(0,0,0,0.4)>Account</font>
                    </font>
                </a>
            </li>
        </ul>
    </div>
    <span class="navbar-text small text-truncate mt-1 w-50 text-right order-1 order-md-last">CS 3240</span>
</nav>

<body>
    {% if user.is_authenticated %}

    <div id="user_info">
        <h4>Welcome, {{ user.name }}!</h4>
        <br><br>
        Your email: {{ user.email}}
        <br>
        You are person #{{ user.id }} to register!
        <br>
        Your bio:
        {{ user.bio }}
        <br>
        Your image:
        <img src="{{ user.pfp }}">
    </div>
    <form action="{% url 'account_logout' %}" method="get">
        <button id="logout_button" class="btn-danger" action="submit">Logout</button>
    </form>
    <form action="{% url 'user' user.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" id="name" placeholder="Enter your name here..."><br><br>
        <input type="text" name="pfp" id="pfp" placeholder="Enter your image url here..."><br><br>
        <textarea type="text" rows="3" cols="5" name="bio" id="bio" placeholder="Enter your bio here..."></textarea><br>
        <input type="submit" id="comment-button" class="btn" value="Update">
    </form>

    {% else %}
    <a class="page-scroll btn btn-xl" id="oauth-button" href="{% provider_login_url 'google' %}"></a>
    {% endif %}
</body>
