<!doctype html>
{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!-- {% load socialaccount %}
{% load static %} -->

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
{% block navbar %}
<ul class="navbar-nav mr-auto justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}"><strong>Home</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><strong>Explore</strong></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><strong>Post</strong></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" href="{% url 'account' %}"><strong>Account</strong></a>
    </li>
</ul>
{% endblock navbar %}
{% block content %}

<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'account/style.css' %}">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <br>
            {% if privileged == None and user.is_authenticated %}
            <form action="{% url 'user' user.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="name" id="name" placeholder="Enter your name here..."><br><br>
                <input type="text" name="pfp" id="pfp" placeholder="Enter your image url here..."><br><br>
                <textarea type="text" rows="3" cols="25" name="bio" id="bio"
                    placeholder="Enter your bio here..."></textarea><br>
                <input type="submit" id="comment-button" class="btn" value="Update">
            </form>
            <form action="{% url 'account_logout' %}" method="get">
                <button id="logout_button" class="btn-danger" action="submit">Logout</button>
            </form>
            {% else %}
            {% if privileged == None and not user.is_authenticated %}
            <a class="page-scroll btn btn-xl" id="oauth-button" href="{% provider_login_url 'google' %}"></a>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-sm-7">
            <br>
            <h4>Bio</h4>
            <p>
                {{ user.bio }}
            </p>
            <br><br>
            <h4>Info</h4>
            <p>
                Email: {{user.email }}
                <br>
                Date Joined: {{user.date_joined}}
            </p>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>

{% endblock content %}
