<!--tinyfunds/templates/tinyfunds/create_event.html-->
<!doctype html>
{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!-- {% load socialaccount %}
{% load static %} -->

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
{% block navbar %}
<ul class="navbar-nav mr-auto justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}"><strong>Home</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'explore' %}"><strong>Explore</strong></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link active" href="#"><strong>Post</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'account' %}"><strong>Account</strong></a>
  </li>
</ul>
{% endblock navbar %}
{% block content %}

<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'tinyfunds/create_event_style.css' %}">

<body>
  <div class="container">
    <div class="card" style="margin-top:12px; height: calc(100vh - 110px); overflow-y: auto;">
      <div class="card-body">
        <h1 class="text-center">New Event</h1>
        <br>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Post">
        <br>
        {{ form.media }}
        <br>
      </div>
    </div>
  </div>
</body>



<div style="margin-top: 20px;">
  {% if invalid %}
  <b style="color: red;">
    One or more fields contains incomplete or invalid data
  </b>
</div>
{% endif %}
</div>

{% endblock content %}