{% extends "tinyfunds/event.html" %}

{% load static %} 

{% load bootstrap4 %} 

{% bootstrap_css %} 

{% bootstrap_javascript jquery='full' %}

{% load socialaccount %}

{% block content %}


<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <style>
        @media screen and (max-width: 400px) {
            #paypal-button-container {
                width: 100%;
            }
        }

        @media screen and (min-width: 400px) {
            #paypal-button-container {
                width: 250px;
            }
        }
    </style>

</head>

<body>
    <div class="row justify-content-md-center" style="margin-top:20px; height: min-content;">
        <div class="col-sm"></div>
        <div class="col-sm-3">
            <div class=' bg-white card justify-content-start align-items-center'
                style='width: 120%; height: min-content; background-color: #ECF0F1; border-color:black;'>
                <div class="d-flex justify-content-center align-items-center"
                    style="flex-direction: column; width: 100%; background-color: white">
                    <div class="d-flex justify-content-center align-items-center" style="margin-top: 20px">
                        <p class="font-weight-bold" style="font-size: 30">
                            {{event.title}}
                        </p>
                    </div>
                </div>
              
                <div class="d-flex justify-content-center" style="flex-direction: column;">
                    {% if event.pic %}
                    <img src="{{event.pic}}" alt="Responsive image"
                        style="height: 250;width: 100%; margin: auto; overflow: hidden; display: block;"
                        class="mt-2 card-img-top">
                    {% endif %}
                    <div class="d-flex justify-content-center" style="flex-direction: column; width: 250">
                        <h6 class="card-text mt-3 mb-4 font-weight-lighter" style="font-size: 12">
                            {{event.description}}</h6>
                    </div>
                
                <div class='text-left bg-white float-right'
                style='float: top; width: 100%; margin-top: 10; margin-bottom: 30; background-color: #ECF0F1; border-color: #ECF0F1; padding-left: 15; padding-top: 10'>
                <div class="input-group mb-4" id='updatedDiv'
                    style="width: 100%; margin:auto; align-items: left; margin-left: -8">
                    <div
                        style="display:flex; flex-direction: row; justify-content: left; margin-left: auto; margin-right: auto">
                        <div class="input-group-prepend"
                            style="margin-left: auto; margin-right: auto; border-color: none; border-top-left-radius: 0; border-bottom-left-radius: 0;">
                        </div>
                        <input type="number" class="form-control" name="donationamount" id="donationamount"
                            placeholder="Amount" value="1" style="width: 166; border-radius: 0; ">
                        <div class="input-group-append">
                            <span class="input-group-text" style="border-radius: 0">USD</span>
                        </div>
                    </div>
                </div>
                <div id="paypal-button-container" style="margin-left:auto; margin-right: auto; margin-bottom: -5"></div>
                </div>
                
            </div>
        </div>
        </div>
        <div class="col-sm"></div>
        <div class="justify-content-md-center align-items-center" style="width: 80%; margin-bottom: 10; margin-top: 10; margin-right: -100px;">
            <span class=" badge badge-dark" style="font-size: 8; margin-right: 5">Org: {{event.org_name}} </span>
            <span class=" badge badge-secondary" style="font-size: 8; margin-right: 5">Address: {{event.simple_address}}</span>
        </div>
    </div>
   

    <script
        src="https://www.paypal.com/sdk/js?client-id=AUq7PyGuPcBGZehj4Q_tgDqQrGc8dbphshD0ysNSfTrAgBvcRXvd-0-CbegpVBZ-2fnFhWrDNRX0BzMS&currency=USD"></script>

    <script>
        paypal.Buttons({
            style: {
                color:  'black',
                layout: 'vertical',
                shape:  'pill',
                label:  'pay',
                size: 'responsive',
                shape: 'pill',
                funding: 'allowed',
                height: 40
            },

            funding: {
                allowed: [paypal.FUNDING.CARD]
            },

            
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: $("#donationamount").val()
                        } 
                    }]
                });
            },

            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'confirm_paypal' %}",
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            dono_id: '{{ event.pk }}',
                            dono_amount: details.purchase_units[0].amount.value, // from form
                            user: '{{ user.email }}',
                            dona_title: '{{ event.title }}',
                            u_id: '{{ user.pk }}',
                        },
                        success: function () {
                            window.location.href = "/event/{{event.pk}}"
                            console.log("ajax success", details)
                        }
                    });
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>
</body>


{% endblock %}