<!doctype html>
{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!-- {% load socialaccount %}
{% load static %} -->

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
{% block navbar %}
<ul class="navbar-nav mr-auto justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}"><strong>Home</strong></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link active" href="{% url 'explore' %}"><strong>Explore</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><strong>Post</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'account' %}"><strong>Account</strong></a>
  </li>
</ul>
{% endblock navbar %}
{% block content %}


<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'account/style.css' %}">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <br>
      <h4>{{ event.title }}</h4>
      <br>
      <div class="pfpic"><img src="{{ event.pic }}"></div>
      <br>
    </div>
    <div class="col-sm-8">
      <br>
      <h4>Event Description</h4>
      <p>
        {{ event.description }}
      </p>
      <br><br>
      <h4>Info</h4>
      <p> 
        Organizer: {{event.org_name }} 
        <br>
        Date: {{event.event_date}}
        <br>
        Location: {{event.address}}
      </p>
        {% ifequal event.owner_id user.id %}
        <button class=btn" onclick="toggleEdit()">Edit Event</button>
        <script>
            function toggleEdit() {
                var x = document.getElementById("editEvent");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
        <div class="container-fluid" id="editEvent" style='display: none'>
          <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-8">
              <br>
              <form action="{% url 'edit_event' event.id %}" method="post">
                {% csrf_token %}
                <input type="text" name="title" id="title" placeholder="Event Title..."><br><br>
                <input type="text" name="org_name" id="org_name" placeholder="Organization Name..."><br><br>
                <input type="text" name="event_date" id="event_date" placeholder="MM/DD/YYYY"><br><br>
                <input type="text" name="address" id="address" placeholder="Enter the address here..."><br><br>
                <input type="text" name="pic" id="pic" placeholder="Enter your image url here..."><br><br>
                <textarea type="text" rows="4" cols="30" name="description" id="description"
                    placeholder="Enter event description here..."></textarea><br>
                
                  <input type="submit" class="btn" value="Post">
            </form>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-1">
            </div>
          </div>
        </div>
        {% endifequal %}
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
{% endblock content %}
