<!doctype html>
{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

{% block title %}Tiny Funds{% endblock title %}


{% block navbar %}
<ul class="navbar-nav mr-auto justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}"><strong>Home</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'explore' %}"><strong>Explore</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><strong>Post</strong></a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'account' %}"><strong>Account</strong></a>
    </li>
</ul>
{% endblock navbar %}
{% block content %}  
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'tinyfunds/style.css' %}">

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8 text-center">
                {% if user.id %}
                <form action="{% url 'create_event' %}">
                    <input class="btn" type="submit" value="Post Event" />
                </form>
                {% endif %}
                <ul class="list-group list-group-flush" style="margin-top:12px; height: calc(100vh - 150px); overflow-y: auto;">
                    {% for event in event_list %}
                    {% if event.title != None and event.title != "" %}
                    <br>
                    <li class="list-group-item"> 
                        <a class="nav-link" href="{% url 'event' event.id %}">
                            <font size="+5">{{event.title}}</font>
                        </a>
                        <br>
                        {{event.description}}
                        <br>
                    </li>
                    {% endif %}
                    {%endfor%}
                    <br>
                </ul>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</body> 
{% endblock content %}
