<!doctype html>
{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

{% block title %}Tiny Funds{% endblock title %}


{% block navbar %}
<ul class="navbar-nav mr-auto justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'home' %}"><strong>Home</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'users' %}"><strong>Users</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'explore' %}"><strong>Events</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'create_event' %}"><strong>Post</strong></a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'account' %}"><strong>Account</strong></a>
    </li>
</ul>
{% endblock navbar %}
{% block content %}  
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'tinyfunds/style.css' %}">
<body>
        <p style="margin: 0; margin-top: 25px;" >Welcome to</p>
        <p style="font-size: 64px;"><strong>TinyFunds!</strong></p>
        <hr style="width: 80%;">
        <br>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4 text-center">
            <img id="tf-pic" src="{% static 'tinyfunds/images/tinyfunds.png' %}">
            <hr style="max-width: 75%;">
            <p>
                TinyFunds is a gamified donation and volunteering platform. 
            </p>
        </div>
        <div class="col-md-4">
            <p style="font-size: 32px;"><strong>As an event organizer:</strong></p>
            <p>
                Simply create an event with information about your volunteer and/or donation initiative and other users will be able to donate or pledge donations and time commitments to help!
            </p>
            <hr>
            <p style="font-size: 32px;"><strong>As a volunteer/donator:</strong></p>
            <p>
            You can browse events and find one that you'd be interested in helping out! You can donate and volunteer your time. The more confirmed pledges and donations you make, the more you level up! You can check your level on your account page. <br><br>
                <b> Remember: Your account won't appear on the Users page unless your name is set. Check your account settings!</b>
            </p>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</body> 
{% endblock content %}

