<!doctype html>
{% extends 'base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}

{% block title %}Tiny Funds{% endblock title %}


{% block navbar %}
<ul class="navbar-nav mr-auto justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}"><strong>Home</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'users' %}"><strong>Users</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'explore' %}"><strong>Events</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'create_event' %}"><strong>Post</strong></a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'account' %}"><strong>Account</strong></a>
    </li>
</ul>
{% endblock navbar %}




{% block content %}  
<div style="max-height: 80%; overflow-x: hidden;">
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'tinyfunds/style.css' %}">

<div class="dropdown" style="margin-bottom: 10px;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: grey;">
    Sort Users
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/user/filterid=1"> Filter Users by Donation Amount</a>
    <a class="dropdown-item" href="/user/filterid=2">Filter Users by Hours Volunteered</a>
    <a class="dropdown-item" href="/user"> Filter by Latest Users</a>
  </div>
</div>

<div style="max-height: 75%; overflow-x: hidden;">
<body>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 text-center">
            <ul class="list-group list-group-flush" style="margin-top:12px; height: calc(100vh - 300px); overflow-y: auto;">
                {% for user in user_list %}
                {% if user.name != None and user.name != "" %}
                <br>
                <div class="row border-dark" style="background-color: white; width: 100%;">
                  <div class = " border-dark" style="height: 100%; width: 33%"> 
                    <img src="{{ user.pfp }}" class="rounded vertical-center" style="height: 85px; width: 85px; margin-left: 50px; margin-bottom: 65px; float: left; position: relative;"></img>
                  </div> 
                  <div class = " border-dark" style="height: 100%; width: 33%"> 
                    <a class="nav-link" href="{% url 'user' user.id %}">
                        <font size="+5">{{user.name}}</font>
                    </a>
                    <p>
                    {{user.bio}}
                    </p>
                  </div>
                  <div class = "border-dark" style="height: 100%; width: 30%; margin-left: 20px;"> 
                      <div class= "vertical-center">
                        <div class = "justify-content-center">
                          <font size="+1"> Amount Donated: ${{user.total_donated}} </font>
                        </div>
                        <div class = "justify-content-center" >
                          <font size="+1"> Total Hours Volunteered: {{user.total_hours_pledged}} hours </font>
                        </div>
                    </div>
                  </div>
                </div> 
                {% endif %}
                {%endfor%}
                <br>
            </ul>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</body> 
</div>
</div>
{% endblock content %}

