@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 15px;
  }

#map {
    width: 100%;
    height: 300px;
}

.col-sm-3 {
    background-color: #ffffff;
    width: 10%;
    border-width:20px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-radius: 30px;
    border-color: #f1f6f9;
}
.col-sm-4 {
    background-color: #ffffff;
    width: 10%;
    border-width:20px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-radius: 30px;
    height: 700px;
    border-color: #f1f6f9;
}

.btn {
    color: #9ba4b4;
    border-radius: 10px;
    border-color: grey;
    border-width: 1px;
    margin-bottom: 10px;
}


body {
    height: 100vh;
    overflow-y: scroll;
    background:#f1f6f9;
    color: #14274e !important;
    margin: 0;
    padding: 0;
    text-align: center !important;
    align-content: center !important;
    justify-content: center !important;
    margin:0;
    margin-top: 0px !important;
    margin-left: auto;
    margin-right: auto;
    content:url('images/oauth.png')
            url('images/oauth2.png');
}

html {
    background: #f1f6f9;
    height: 100%;
}

h1 {
    margin:0px;
    color: 14274e !important;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}

.nav-link {
    color: #9ba4b4 ;
    padding: 0px;
    text-decoration-color: aqua;
    }

nav {
    background: #f1f6f9;
}

.nav-link.active {
    color:#14274e;
}
.nav-item {
    color: white;
}

.navbar-brand {
    color: #394867;
}

.navbar-text{
    color:#394867 !important;
    width: 350px;
}

.navbar-nav.mr-auto.justify-content-center {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-inline.nav-search {
    float: right;
    border: 0;
    background: #f1f6f9;
    color: #394867;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.form-control {
    border: 0;
}

.form-control.mr-sm-2 {
    background-color: #f1f6f9;
    color:#394867;
    border-color: #9ba4b4;
    border-radius: 0;
    border-bottom-width: 2px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
}

#oauth-button {
    width: 250px;
    height: 60px;
    margin-top: 50px;
    border: 0;
    background-image: url("images/oauth2.png");
    background-size: 100%;
    background-size: 250px auto;
    cursor: pointer;
}
#oauth-button:hover{
    background-image: url("images/oauth.png");
}
#user_info {
    margin-top: 50px;
    margin-bottom: 50px;
}
#logout_button {
    border-radius: 10px;
    width: 120px;
    height:50px;
}
@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}
#radial-progress-bar {
    text-color: blue;
    font: 16px/1.25 'Raleway', sans-serif;
    margin: 0;
}
.rainbow {
  -webkit-animation: rainbow 8s infinite;
}
@-webkit-keyframes rainbow{
    0%{fill: orange;}
    20%{fill: purple;}
    40%{fill: red;}
    60%{fill: green;}
    80%{fill: blue;}
    100%{fill: orange;}
}

/*
    The following code was originally written by Damian Drygiel
    on November 23, 2018.

    It has been slightly adapted for use in our Django app.

    You can access the original code here:
    https://codepen.io/drygiel/pen/LXmPZz
*/

/*** RADIAL PROGRESS ***/
/* Circumference = 2πr */
/* π = 3.1415926535898 */
/* r = 35 */
svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
}
svg.radial-progress circle {
    fill: rgba(0,0,0,0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129; /* Circumference */
    stroke-width: 10;
}
svg.radial-progress circle.incomplete {
    opacity: 0.25;
}
svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129; /* Circumference */
}
svg.radial-progress text {
    fill: #666;
    font: 400 1em/1 'Oswald', sans-serif;
    text-anchor: middle;
}

/*** COLORS ***/
/* Primary */
svg.radial-progress:nth-of-type(6n+1) circle {
    stroke: #a2ed56;
}

/* Secondary */
svg.radial-progress:nth-of-type(6n+2) circle {
    stroke: #83e4e2;
}

/* Tertiary */
svg.radial-progress:nth-of-type(6n+3) circle {
    stroke: #fd6470;
}

/* Quaternary */
svg.radial-progress:nth-of-type(6n+4) circle {
    stroke: #fca858;
}

/* Quinary */
svg.radial-progress:nth-of-type(6n+5) circle {
    stroke: #fddc32;
}
/*
    End of radial progress bar styling from Damian Drygiel
*/
