body {
    background:#f1f6f9;
    color: #14274e !important;
    margin: 0;
    padding: 0;
    overflow:hidden;
    text-align: center !important;
    align-content: center !important;
    justify-content: center !important;
    margin:0;
    margin-top: 0px !important;
    margin-left: auto;
    margin-right: auto;
    content:url('images/oauth.png')
            url('images/oauth2.png');
}



html {
    background: #f1f6f9;
    height: 100%;
}

h1 {
    margin:0px;
    color: 14274e !important;
}

.nav-link {
    color: #9ba4b4 ;
    padding: 0px;
    text-decoration-color: aqua;
    }

nav {
    background: #f1f6f9;
}

.nav-link.active {
    color:#14274e;
}
.nav-item {
    color: white;
}

.navbar-brand {
    color: #394867;
}

.navbar-text{
    color:#394867 !important;
    width: 350px;
}

.navbar-nav.mr-auto.justify-content-center {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-inline.nav-search {
    float: right;
    border: 0;
    background: #f1f6f9;
    color: #394867;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}

.form-control {
    border: 0;
}



.form-control.mr-sm-2 {
    background-color: #f1f6f9;
    color:#394867;
    border-color: #9ba4b4;
    border-radius: 0;
    border-bottom-width: 2px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
}

#oauth-button {
    width: 250px;
    height: 60px;
    margin-top: 50px;
    border: 0;
    background-image: url("images/oauth2.png");
    background-size: 100%;
    background-size: 250px auto;
    cursor: pointer;
}
#oauth-button:hover{
    background-image: url("images/oauth.png");
}
#user_info {
    margin-top: 50px;
    margin-bottom: 50px;
}
#logout_button {
    border-radius: 10px;
    width: 120px;
    height:50px;
}
